#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.clickableIcon {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

    .clickableIcon:hover {
        transform: scale(1.2);
    }

    .clickableIcon:active {
        transform: scale(0.9);
    }
